<a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Empezar Tour</a>
<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row" id="step_1_tour">
                <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Estado Semillero</h5>
                        <div class="ibox-tools">
                           
                       
                        </div>
                    </div>
                    <div class="ibox-content">
                        <br>
                        <br>
                        <table class="table" id="listadoSemilleroStado">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Fecha de Creacion</th>
                                <th>VoBo. Director Grupo de Investigación</th>
                                <th>VoBo. Director Semillero de Investigación</th>
                                <th>VoBo. Director de la Unidad Académica</th>
                              
                            </tr>
                            </thead>
                            <tbody>
                            
                    
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
          
            </div>
        
        </div>
<script type="text/javascript" src="../js/semillero/semillero_stado.js"></script>
<script type="text/javascript" src="../js/tours/semillero/estado.js"></script>
