<style>
    body, table{
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
.table,
.msg {
    text-align: center;
    width: 800px;
    margin: auto;
}

.center{
    text-align: center;
}

.msg{
    text-align: left; padding-top: 20px
}



.table-border {
    border-collapse: collapse;
}

.td-border{
    border-width:1px;
    border-style:inset;
    border-color:black;
}

.strong{
    font-weight: bold;
}

.rightBorder{
    border-right: inset;
    border-width:1px;
    border-color:blue;
    /* border-right: green; border-style:solid; border-width:1px; */
}

.wd-10{
    width:10%
}
.wd-20{
    width:20%
}
.wd-30{
    width:30%
}
.wd-40{
    width:40%
}
.wd-50{
    width:50%
}
.wd-60{
    width:60%
}
.wd-70{
    width:70%
}
.wd-80{
    width:80%
}
.wd-90{
    width:90%
}
.wd-100{
    width:100%
}

.mt-10{
    margin-top: 20px;
}

.bg-red{
    background-color: red;
}

.td-border-bottom{
    border-bottom: inset;
    border-width:1px;
}

.underline{
    text-decoration: underline;
}
</style>
<div class="ibox-content">
<table class='table table-border' cellspacing='0' cellpadding='0'>
    <tr>
        <td class='td-border strong wd-20' ><img src='../../../img/Logo-nuevo-vertical.png' alt='logo universidad' width='100' ></td>
        <td class='td-border strong wd-60' >
            <table class='wd-100' cellspacing='0' cellpadding='0' >
                <tr>
                    <td>INVESTIGACIÓN</td>
                </tr>
                <tr>
                    <td class='bg-red' >SOLICITUD DE HORAS DE INVESTIGACIÓN PARA DIRECTORES DE SEMILLEROS</td>
                </tr>
            </table>
        </td>
        <td class='td-border' >
            <table class='wd-100' cellspacing='0' cellpadding='0' >
                <tr>
                    <td class='td-border-bottom rightBorder strong wd-50' >CÓDIGO</td>
                    <td class='td-border-bottom' >_codigo</td>
                </tr>
                <tr>
                    <td class='td-border-bottom rightBorder strong' >VERSIÓN</td>
                    <td class='td-border-bottom' >_version</td>
                </tr>
                <tr>
                    <td class='td-border-bottom strong rightBorder'>FECHA</td>
                    <td class='td-border-bottom'>_fecha</td>
                </tr>
                <tr>
                    <td class='rightBorder strong' >PÁGINA</td>
                    <td class='' >{PAGENO} de {nbpg}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class='td-border strong' >ELABORÓ</td>
        <td class='td-border strong' >REVISÓ</td>
        <td class='td-border strong' >APROBÓ</td>
    </tr>
    <tr>
        <td class='td-border' >Lider de Investigacion</td>
        <td class='td-border' >Equipo Operativo de Calidad</td>
        <td class='td-border' >Líder de Calidad</td>
    </tr>
</table>
    <table style="border-collapse: collapse; "  class="default">

  <tr>

    <td colspan="2">Celda 1</td>

    <td colspan="5"> Celda 2</td>

    <td colspan="2">Celda 3</td>


  </tr>
  <tr>


    <td colspan="2">Celda 2</td>

    <td colspan="5" rowspan="2">Celda 3</td>
    <td colspan="2">Celda 3</td>
  

  </tr>
  <tr>

    <td>Celda 1</td>

    <td>Celda 2</td>

    <td>Celda 3</td>
    <td>Celda 3</td>
    <td>Celda 3</td>
    <td>Celda 3</td>

  </tr>
  <tr>

    <td colspan="3">Celda 1</td>

    <td colspan="3">Celda 2</td>

    <td colspan="3">Celda 3</td>
 

  </tr>
  <tr>

    <td>Celda 1</td>

    <td>Celda 2</td>

    <td>Celda 3</td>
    <td>Celda 3</td>
    <td>Celda 3</td>
    <td>Celda 3</td>

  </tr>
  <tr>

    <td>Celda 1</td>

    <td>Celda 2</td>

    <td>Celda 3</td>
    <td>Celda 3</td>
    <td>Celda 3</td>
    <td>Celda 3</td>

  </tr>



</table>
    
     
<div class="ibox-content">
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <b>1. Proyectos de Investigación</b> 
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <p style="color: black">registrar sólo las actividades contempladas del semestre actual</p>
              
                      <div class='table mt-4 mb-4'>
                             <div class="modal-footer">

                              <h5 class="label label-successE"> <a onclick="mostrarModalLineas()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                            </div>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablal' >
                            <thead>
                                <tr class="ufps-tabl">
                                   
                                    <th>Nombre Proyecto</th>
                                    <th>Actividades</th>
                                    <th>Fecha de Inicio</th>
                                    <th>Fecha de Terminación</th>
                                    <th>% de Cumplimiento</th>
                                    <th>Ejecutor(Autores)o</th>
                                    <th>Responsable(Director)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
              
      </div>
    </div>
  </div>
    
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <b>2. Capacitaciones</b> 
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
           <div class="col-lg-12">
            <div class="ibox ">
             
                     
                    
                      <div class='table mt-4 mb-4'>
                             <div class="modal-footer">

                              <h5 class="label label-successE"> <a onclick="mostrarModalLineas()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                            </div>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablal' >
                            <thead>
                                <tr class="ufps-tabl">
                                   
                                    <th>Nombre de la Capacitación</th>
                                    <th>Objetivo</th>
                                    <th>Fecha de realización</th>
                                    <th>% de Cumplimiento</th>
                                    <th>Responsable (Orador)</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <b>3. Otras Actividades de Investigación (*)</b> 
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <div class='table mt-4 mb-4'>
                             <div class="modal-footer">

                              <h5 class="label label-successE"> <a onclick="mostrarModalLineas()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                            </div>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablal' >
                            <thead>
                                <tr class="ufps-tabl">
                                   
                                    <th>Nombre Actividad/Proyecto</th>
                                    <th>Tipo de Actividad</th>
                                    <th>Ponente/Asistente</th>
                                    <th>Fecha de realización</th>
                                    <th>% de Cumplimiento</th>
                                    <th>Responsable</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
        </div>
    </div>
  </div>
    
    
     <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <b>4. Datos adicionales fuera de registro</b> 
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
           <div class="col-lg-12">
            <div class="ibox ">
             
                    <div class="col-lg-12">
            <div class="ibox ">
               <div class="modal-footer">

                              <h5 class="label label-successE"> <a onclick="mostrarModalTitulos()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                            </div>
                      <div class='table mt-4 mb-4'>
                                              <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaTitulos' >
                            <thead>
                                <tr class="ufps-tabl">
                                   
                                    <th>DESCRIPCION</th>
                                    <th>UNIVERSIDAD</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>       
                    </div>       
                    </div>  
              
            </div>
        </div>
      </div>
    </div>
  </div>
    
     <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <b>5. Relación estudiantes del semillero en el semestre académico actual </b> 
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
           <div class="col-lg-12">
            <div class="ibox ">
             
                    <div class="col-lg-12">
            <div class="ibox ">
               <div class="modal-footer">

                              <h5 class="label label-successE"> <a onclick="mostrarModalTitulos()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                            </div>
                      <div class='table mt-4 mb-4'>
                                              <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaTitulos' >
                            <thead>
                                <tr class="ufps-tabl">
                                   
                                    <th>N°</th>
                                    <th>NOMBRE</th>
                                    <th>NOMBRE</th>
                                    <th>IDENTIFICACIÓN c.c. o T.I.</th>
                                    <th>PROGRAMA ACADÉMICO</th>
                                    <th>SEMESTRE ACTUAL</th>
                                    <th>E-MAIL</th>
                                    <th>TELÉFONO</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>       
                    </div>       
                    </div>  
              
            </div>
        </div>
      </div>
    </div>
  </div>
    
</div>

</div>

<div class="modal inmodal" id="ModalLoadData" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <label title="Upload image file" for="fileUpload" class="btn btn-primary">
                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="fileUpload" id="fileUpload" style="display:none">
                        Upload image
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" onclick="loadDataxls()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="ModalLineas" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
               <form role="form" id="Linea_investigacionInsert">
                      <div class="form-group">
                          <label for="Inputid">Area</label>
                          <select class="form-control"   onchange="cargarSelectDisciplina(this.value)" name="area" id="area" >
                                      

                                  </select>
                       </div>
                      <div class="form-group">
                          <label for="Inputdisciplina_id">Disciplina</label>
                           <select class="form-control" name="disciplina" id="disciplina" onchange="cargarSelectLineas(this.value)" >
                                  <option value="-1">SELECCIONE</option>
                           </select>
                      </div>
                      <div class="form-group">
                          <label for="Inputdescripcion">Linea de Investigacion</label>
                          <select class="form-control" name="lineas_investigacion" id="lineas_investigacion" >
                                      <option value="-1">SELECCIONE</option>
                                     

                                  </select>
              
                      </div>
                       
                   </form>
            </div>
            <div class="modal-footer">
                   <button type="button" class="btn btn-primary" id="btnLnAct" onclick="actualizarRango()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnLnReg" onclick="registrarLn()">Registrar</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

            </div>
         
        </div>
    </div>
</div>


<div class="modal inmodal" id="ModalTitulos" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <form role="form" >
                  <div class="form-group">

                        <label for="formGroupExampleInput">Descripcion </label>
                        <input type="text" style="background: white;" class="form-control" name="descripcionD" id="descripcionD"  required>

                    </div>
                  <div class="form-group">

                        <label for="formGroupExampleInput">Universidad </label>
                        <input type="text" style="background: white;" class="form-control" name="universidad" id="universidad"  required>

                    </div>
                  
            </form>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-primary" id="btnLnReg" onclick="registrarTitulos()">Registrar</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

            </div>
         
        </div>
    </div>
</div>



 
    
    
    </div>