<div  id="ModalTablas"> 
<div class="ibox-content">
    <h2 style="color: black">Projectos</h2>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="showModalRegisProjectos()">
            Registrar
        </button>
    </div>
    <div class="table mt-12 mb-12 table-responsive" id="tablaProjectos">
        <br />
        <table class="table table-striped mt-4 mb-4 centradito" id="listadoProjectosTabla" style="width: 100%">
            <thead>
                <tr class="ufps-tabl">
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Insvestigador Principal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
    </div>

<div  id="modalRegistro">
    
</div>