<a href="#" class="btn btn-danger startTour"><i class="fa fa-play"></i> Empezar Tour</a>
<div class="modal inmodal" id="ModalLoadData" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <label title="Upload image file" for="fileUpload" class="btn btn-primary">
                        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="fileUpload" id="fileUpload" style="display:none">
                        Upload image
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" onclick="loadDataxls()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="myModalProyectos_e" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Registrar Proyecto</h4>
                <!--<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>-->
            </div>
            <div class="modal-body">
                <div class="ibox-content">
                    <form role="form" id="ProyectosInsert">

                        <div style="display: none" class="form-group">
                            <label for="Inputid">Id</label>
                            <input type="text" name="id" class="form-control" id="Inputid" placeholder="Id" required>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="Inputtitulo">Titulo</label>
                                    <input type="text" name="titulo" class="form-control" id="Inputtitulo" placeholder="Titulo">
                                </div>
                                <div class="form-group">
                                    <label for="Inputinvestigador">Investigador</label>
                                    <input type="text" name="investigador" class="form-control" id="Inputinvestigador" placeholder="Investigador">
                                </div>
                                <div class="form-group">
                                    <label for="Inputtipo_proyecto_id">Tipo proyecto id</label>
                                    <input type="text" name="tipo_proyecto_id" class="form-control" id="Inputtipo_proyecto_id" placeholder="Tipo proyecto id">
                                </div>
                                <div class="form-group">
                                    <label for="Inputtiempo_ejecucion">Tiempo de ejecucion</label>
                                    <input type="text" name="tiempo_ejecucion" class="form-control" id="Inputtiempo_ejecucion" placeholder="Tiempo de ejecucion">
                                </div>
                                <div class="form-group">
                                    <label for="Inputfecha_ini">Fecha inicio</label>
                                    <input type="text" name="fecha_ini" class="form-control" id="Inputfecha_ini" placeholder="Fecha de inicio">
                                </div>
                                <div class="form-group">
                                    <label for="Inputproducto">Producto</label>
                                    <input type="text" name="producto" class="form-control" id="Inputproducto" placeholder="Producto">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="Inputresumen">Resumen</label>
                                    <input type="text" name="resumen" class="form-control" id="Inputresumen" placeholder="Resumen">
                                </div>
                                <div class="form-group">
                                    <label for="Inputobj_general">Objetivo general</label>
                                    <input type="text" name="obj_general" class="form-control" id="Inputobj_general" placeholder="Objetivo general">
                                </div>
                                <div class="form-group">
                                    <label for="Inputobj_especifico">Objetivo especifico</label>
                                    <input type="text" name="obj_especifico" class="form-control" id="Inputobj_especifico" placeholder="Objetivo especifico">
                                </div>
                                <div class="form-group">
                                    <label for="Inputresultados">Resultados</label>
                                    <input type="text" name="resultados" class="form-control" id="Inputresultados" placeholder="Resultados">
                                </div>
                                <div class="form-group">
                                    <label for="Inputcosto_valor">
                                        Costo valor
                                    </label>
                                    <input type="text" name="costo_valor" class="form-control" id="Inputcosto_valor" placeholder="Costo valor">
                                </div>

                                <div class="form-group">
                                    <label for="Inputsemillero_id">Semillero id</label>
                                    <input type="text" name="semillero_id" class="form-control" id="Inputsemillero_id" placeholder="Semillero Id">
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-white" onclick="cerrarModalProyectos_e()">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnOrderAct" onclick="UpdateOrder()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnOrderReg" onclick="registrarOrder()">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Tabla de Usuarios -->
<div class="wrapper wrapper-content animated fadeInRight" id="tablaOrdenes">

    <div class="row" id="step_1_tour">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Listado de proyectos en ejecucion</h5>
                    <h5 class="label label-successE"> <a onclick="mostrarModalProyectos_e()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                    <h5 class="label label-successE"> <a data-toggle="modal" data-target="#ModalLoadData" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ LoadXls</a></h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoOrdenesTabla' style='width: 100%'>
                            <thead>
                                <tr class="ufps-tabl">
                                    <th>#</th>
                                    <th>TITULO</th>
                                    <th>FECHA INICIO</th>
                                    <th>INSPECTOR</th>
                                    <th>TIPO PROYECTO</th>
                                    <th>RESUMEN</th>
                                    <th>OBJETIVO GENERAL</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Tabla de Usuarios -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
<script type="text/javascript" src="../js/proyectos/proyectos_e.js"></script>
<script type="text/javascript" src="../js/tours/informacion_complementaria/ejecucion.js"></script>