<link href="../css/plugins/steps/jquery.steps.css" rel="stylesheet">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Wizard with Validation</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li><a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <h2>
                    Validation Wizard Form
                </h2>
                <p>
                    This example show how to use Steps with jQuery Validation plugin.
                </p>

                <form id="form" action="#" class="wizard-big">
                    <h1>paso1</h1>
                    <fieldset>

                        <div class="ibox-content">
                            <h2 style="color: black">Semillero Info</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>nombre *</label>
                                        <input id="semi_nombre" name="semi_nombre" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>Grupo de Investigacion *</label>
                                        <input id="semi_grupo" name="semi_grupo" type="text" class="form-control required " readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>sigla *</label>
                                        <input id="semi_sigla" name="semi_sigla" type="text" class="form-control required">
                                    </div>
                                    <div class="form-group">
                                        <label>Linea de Investigacion *</label>
                                        <select class="form-control required" name="v" id="semi_inv">
                                            <option value="-1">SELECCIONE UN LINEA  DE INV...</option>
                                            <option value="1">TEST</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="ibox-content">
                            <h2 style="color: black">Estudiantes</h2>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="showModalRegisEstu()">
                                    Registrar
                                </button>
                            </div>
                            <div class='table mt-12 mb-12 table-responsive' id="tablaEstuadiantes"><br>
                                <table class='table table-striped mt-4 mb-4 centradito' id='listadoEstudiantesTabla' style='width: 100%'>
                                    <thead>
                                        <tr class="ufps-tabl">
                                            <th>id</th>
                                            <th>Nombre</th>
                                            <th>persona_id_id</th>
                                            <th>Identificacion</th>
                                            <th>Programa Academico</th>
                                            <th>Codigo</th>
                                            <th>Semestre</th>
                                            <th>Correo</th>
                                            <th>telefono</th>
                                            <th>tipo_docuemnto_id_id</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <br>
                        <div class="ibox-content">
                            <h2 style="color: black">Pares Academicos</h2>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="showModalRegisPares()">
                                    Registrar
                                </button>
                            </div>
                            <div class='table mt-12 mb-12 table-responsive' id="tablaPares"><br>
                                <table class='table table-striped mt-4 mb-4 centradito' id='listadoParesTabla' style='width: 100%'>
                                    <thead>
                                        <tr class="ufps-tabl">
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>IDENTIFICACIÓN C.C.</th>
                                            <th>INSTITUCIÓN O EMPRESA</th>
                                            <th>E-MAIL</th>
                                            <th>TELÉFONO</th>
                                            <th>persona_id_id</th>
                                            <th>tipo_docuemnto_id_id</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>


                    </fieldset>
                    <h1>Profile</h1>
                    <fieldset>
                        <h2>Profile Information</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>First name *</label>
                                    <input id="name" name="name" type="text" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label>Last name *</label>
                                    <input id="surname" name="surname" type="text" class="form-control required">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input id="email" name="email" type="text" class="form-control required email">
                                </div>
                                <div class="form-group">
                                    <label>Address *</label>
                                    <input id="address" name="address" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <h1>Warning</h1>
                    <fieldset>
                        <div class="text-center" style="margin-top: 120px">
                            <h2>You did it Man :-)</h2>
                        </div>
                    </fieldset>

                    <h1>Finish</h1>
                    <fieldset>
                        <h2>Terms and Conditions</h2>
                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                    </fieldset>


                </form>
            </div>
        </div>
    </div>

</div>











<div class="modal inmodal fade" id="myModalEstudiantes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body">
                <div class="ibox-content">
                    <form role="form" id="EstudianteInsert">
                        <input type="hidden" name="estu_id" class="form-control" id="estu_id" placeholder="id">
                        <input type="hidden" name="estu_index" class="form-control" id="estu_index" placeholder="id">
                        <input type="hidden" name="estu_persona_id_id" class="form-control" id="estu_persona_id_id" placeholder="id">
                        <div class="form-group">
                            <label for="Inputnombre">nombre</label>
                            <input type="text" name="estu_nombre" class="form-control" id="estu_nombre" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label for="Inputtelefono">telefono</label>
                            <input type="text" name="estu_telefono" class="form-control" id="estu_telefono" placeholder="telefono">
                        </div>
                        <div class="form-group">
                            <label for="Inputcorreo">correo</label>
                            <input type="email" name="estu_correo" class="form-control" id="estu_correo" placeholder="correo">
                        </div>
                        <div class="form-group">
                            <label for="Inputcodigo">codigo</label>
                            <input type="text" name="estu_codigo" class="form-control" id="estu_codigo" placeholder="codigo">
                        </div>
                        <div class="form-group">
                            <label for="Inputsemestre">semestre</label>
                            <input type="number" min="1" max="10" name="estu_semestre" class="form-control" id="estu_semestre" placeholder="semestre">
                        </div>
                        <div class="form-group">
                            <label for="Inputprograma_academico">programa_academico</label>
                            <select class="form-control" name="estu_programa_academico" id="estu_programa_academico">
                                <option value="-1">SELECCIONE UN PROGRAMA ACA...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Inputtipo_docuemnto_id">tipo_docuemnto_id</label>
                            <select class="form-control" name="estu_tipo_docuemnto_id" id="estu_tipo_docuemnto_id">
                                <option value="-1">SELECCIONE...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Inputnum_documento">num_documento</label>
                            <input type="text" name="estu_num_documento" class="form-control" id="estu_num_documento" placeholder="num_documento">
                        </div>
                    </form>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-white" onclick="cerrarModalFacultades()">Close</button>
                <button type="button" class="btn btn-primary" id="btnEstuAct" onclick="UpdateEstu()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnEstuReg" onclick="registrarEstu()">Registrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="myModalPares" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body">
                <div class="ibox-content">
                    <form role="form" id="EstudianteInsert">
                        <div class="form-group">
                            <input type="hidden" name="pares_id" class="form-control" id="pares_id" placeholder="pares_id">
                            <input type="hidden" name="pares_index" class="form-control" id="pares_index" placeholder="index_par">
                            <input type="hidden" name="pares_persona_id_id" class="form-control" id="pares_persona_id_id" placeholder="id">

                        </div>
                        <div class="form-group">
                            <label for="Inputnombre">nombre</label>
                            <input type="text" name="pares_nombre" class="form-control" id="pares_nombre" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <label for="Inputtelefono">telefono</label>
                            <input type="text" name="pares_telefono" class="form-control" id="pares_telefono" placeholder="telefono">
                        </div>
                        <div class="form-group">
                            <label for="Inputtipo_docuemnto_id">tipo_docuemnto_id</label>
                            <select class="form-control" name="pares_tipo_docuemnto_id" id="pares_tipo_docuemnto_id">
                                <option value="-1">SELECCIONE...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Inputnum_documento">num_documento</label>
                            <input type="text" name="pares_num_documento" class="form-control" id="pares_num_documento" placeholder="num_documento">
                        </div>
                        <div class="form-group">
                            <label for="Inputsemestre">empresa</label>
                            <input type="text" name="pares_empresa" class="form-control" id="pares_empresa" placeholder="empresa">
                        </div>
                        <div class="form-group">
                            <label for="Inputcorreo">correo</label>
                            <input type="email" name="pares_correo" class="form-control" id="pares_correo" placeholder="correo">
                        </div>
                    </form>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-white" onclick="cerrarModalFacultades()">Close</button>
                <button type="button" class="btn btn-primary" id="btnParesAct" onclick="UpdatePares()">Actualizar</button>
                <button type="button" class="btn btn-primary" id="btnParesReg" onclick="registrarPares()">Registrar</button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Listado de Facultades</h5>
                    <h5 class="label label-successE"> <a onclick="mostrarModalFacultades()" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ Agregar</a></h5>
                    <h5 class="label label-successE"> <a data-toggle="modal" data-target="#ModalLoadData" style="background-color: #243747 ;display: inline !important" class="btn btn-primary">+ LoadXls</a></h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4' id="tablaFacultades"><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoFacultadesTabla' style='width: 100%'>
                            <thead>
                                <tr class="ufps-tabl">
                                    <th>Facultad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <script type="text/javascript" src="../js/core/Utilitario.js"></script> -->
<script type="text/javascript" src="../js/semillero/semillero.js"></script>
<!-- Steps -->
<script src="../js/plugins/steps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="../js/plugins/validate/jquery.validate.min.js"></script>


<script>
    $(document).ready(function() {
        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function(event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function(event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function(event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function(event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function(error, element) {
                element.before(error);
            }
        });
    });
</script>